# Node modules
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
/frontend/.env

# Symfony vendor & cache
/backend/vendor/
/backend/var/

# Environnements
**/.env.local
**/.env.dev
**/.env.test
**/.env.production

# IDE
*.log
*.DS_Store
.vscode/
.idea/

# Systèmes
Thumbs.db
